.activity-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

.activity-item {
  text-align: center;
  flex: 1 0 32%; /* explanation below */
  margin: 5px;
  height: 150px;
  border: 1px solid #CCC;
  border-radius: 30px;
}

.title{
  min-height: 3.33em;
}